# Supply chain attack prevention
# Disable automatic script execution like postinstall
ignore-scripts=true

# Delay installing newly published packages to mitigate supply chain attacks
minimum-release-age=3d

